.homePageContainer {
  background: rgb(29, 29, 29);
  height: calc(100vh - 50px);
}

.ContentWrapper {
  position: relative;
  top: 200px;
}

.SearchContainer {
  text-align: center;
}

.SearchForm {

}