.HeaderContainer {
    height: 50px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1), rgb(50, 50, 50));
    /* border-bottom: 1px solid #3f3f3f; */
    padding: 10px;
}

.FooterContainer {
    font-size: clamp(0.5rem, 2.5vw, 1rem);
}

@media screen and (max-width: 1300px) {
    .FooterContainer {
        padding: 0.5rem;
        text-align: center;
        z-index: 10;
        color: #999;
    }
}

@media screen and (min-width: 1300px) {
    .FooterContainer {
        padding: 0.5rem calc((100vw - 1200px)/2);
        text-align: center;
        z-index: 10;
        position: absolute;
        bottom: 0;
        color: #eee;
    }   
}

.HeaderHomeBtnWrapper {
    float: left;
}

.HeaderHomeBtn {
    font-family: 'VT323', monospace;
    font-size: 30px;
    color: #fff;
}

.HeaderSearchBar {
    background: #fff;
    padding: 4px;
    border-radius: 3px;
    float: right;
}

.HeaderSearchInput {
    border: 0;
    outline: none;
}