.MatchRecord {
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 2px solid #999;
    padding: 1rem;
}

.col1 {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.champProfileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChampionProfile {
    border-radius: 50%;
    border: 2px solid #999 !important;
}

.Runes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.RuneImage {
    border-radius: 50%;
    background-color: #333;
}

.MainRune {
    /* position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 0; */
}

.SecRune {
    /* position: absolute;
    z-index: 10;
    bottom: 10px;
    right: 0; */
}

.col2 {
    display: grid;
    grid-template-rows: 3fr 4fr;
}

.SummonerSpellsContainer {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 0 1rem;
}

.SummonerSpells {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SpellImg {
    border: 1px solid #999 !important;
}

.Items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5rem;
    padding: 0 1rem;
}

.ItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemImg {
    background-color: rgb(154, 187, 165);
    border: 1px solid #999 !important;
    border-radius: 15%;
}

.col3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr 2fr;
}

.KdaIndex {

}

.Kda {

}

.Cs {

}

.col4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Team1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.Team2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}