.MatchRecord {
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(3, 2fr) 3fr;
    border-bottom: 2px solid #999;
    padding: 0.2rem;
}

.col1 {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.champProfileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ChampionProfile {
    border-radius: 50%;
    border: 2px solid #999 !important;
}

.Runes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.RuneImage {
    border-radius: 50%;
    background-color: #333;
}

.MainRune {
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.SecRune {
    border-radius: 50%;
    display: flex;
    align-items: center;;
}

.col2 {
    display: grid;
    grid-template-rows: 3fr 4fr;
}

.SummonerSpellsContainer {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 0 1rem;
}

.SummonerSpells {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SpellImg {
    border: 1px solid #999 !important;
}

.Items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5rem;
    padding: 0 1rem;
}

.ItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemImg {
    background-color: rgba(189, 230, 206, 0.8);
    border: 1px solid #999 !important;
    border-radius: 15%;
}

.col3 {
    color: #333;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameResult {
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.KdaIndex {

}

.Kda {
    font-size: 1.2rem;
}

.DeathNum {
    color: rgb(179, 50, 50);
}

.Cs {

}

.col4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    color: #000;
}

.TeamList {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    padding: 0.5rem 0;
}

.TeamListItem {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.TeamMemberIdContainer {
    padding-left: 2px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}