.profilePageContainer {
    position: relative;
    /* text-align: center; */
    height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: 4fr 3fr 4fr;
    grid-gap: 1rem;
    padding: 1rem;
}

.profileInfoContainer {
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 5;
    height: calc(100% - 50px);
}

.BasicInfoContainer {
    padding-top: 2rem;
    text-align: center;
    display: inline-block;
    z-index: 10;
    position: relative;
    width: 100%;
}

.RankInfoContainer {
    padding: 2rem;
    text-align: center;
    z-index: 10;
    position: relative;
    display: flex;
    /* margin: auto calc((100vw - 500px) / 2); */
    width: 100%;
}

.QueueInfoContainer {
    flex: 1;
}

.WinRate {
    position: relative;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 1rem calc(50% - 80px);
}

.WinRateNumber {
    padding: 0;
    margin: 0;
    color: #3e3e3e;
    text-align: center;
}

.SummonerProfileImg {
    border-radius: 50%;
    border: 5px solid #fff !important;
}

.SummonerLvl {
    justify-content: center;
    align-items: center;
    background: cornflowerblue;
    display: flex;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 30%;
    padding: 2px 3px;
    position: absolute;
    width: 36px;
    left: calc(50% - 18px);
    bottom: calc(50% - 50px);
}

.RankInfoTitle {
    color: #3e3e3e;
    font-weight: bold;
}

.RankTier {
    color: cornflowerblue;
    font-weight: bold;
}

.LeaguePoint {
    font-size: 14px;
    color: #6e6e6e;
    font-weight: bold;
}

.profileHeroBg {
    width: 100%;
    height: 100%;
    /* -o-object-fit: cover;
    object-fit: cover; */
    filter: blur(3px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profileHeroBgContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.PlayerStyleInfoContainer {
    color: rgb(165, 42, 42);
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10;
    height: calc(100% - 50px);
}

.MatchHistoryContainer {
    color: rgb(165, 42, 42);
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10;
    height: calc(100% - 50px);
}

.GameStatsContainer {
    z-index: 10;
    margin-top: 2rem;
}